body {
       background-color:#008080;
}
#header {
	position: relative;
	margin-top:-145px;
	background-color: #0066CC;
}
#datetime{
        position: relative;
        font-family: Verdana;
        font-size:1em;
        color:#ffffff;
}
p {
        font-family:Verdana;
        font-size:1em;
        color:#ffffff;

}

h1{
        font-family:Cabin;
        font-size:2em;

}
h6 {
        text-align:left;
        color:#ffffff;
        font-family:Garamond;
        font-size:4em;

}
#stylechanger {
        font-size:2em;
        font-family:Cabin;
        color:#ffffff;

}
h3 {
        font-family:Cabin;
        font-size:2em;
        color:#ffffff;
}
h2 {
    font-family: Garamond;
    color:#B80000 ;
p {
    font-family:Garamond;
    font-size: 1em;
    color:#ffffff;
 }

#True {
   color: #ff0000;
   font-style: italic;
   font-weight:bold;
}

#False {
   color: #ffffff;
}

#adder {
   font-family:Cabin;
   font-size:2em;
   color:#ffffff;
}
#captcha {
   font-family:Garamond;
   font-size:2em;
   color:#ffffff;
}
